{{# each products}}
<div class="container">
	<div class="main">
		<div class="noticia">
			{{# each this}}
     	<div class="row">
     		<div class="col" id="titulo">
     			<a href="{{this.link}}" id="title" ><h3>{{this.titulo}}</h3></a>
     		</div>
     	</div>
     	<div class="row">
     		<div class="col" id="descripcion">
     			{{this.descripcion}}
     		</div>
     		     	</div>
		<div class="row">
			<div class="col-7" id="url">
				<a href="{{this.link}}" id="link"  >{{this.link}}</a>
			</div>
			<div class="col-5 flex-row" id="detalleVotos">
				
				<div class="d-flex">
					
					
						<a href="/vote_up/{{this.id}}"><img src="/imagenes/thumbs-up.svg" alt="" width="25" height="25"></a>  
						<a href="/vote_down/{{this.id}}"><img src="/imagenes/thumbs-down.svg" alt="" width="25" height="25"></a>  
						

					
				</div>
				<div>
					<a href="/eliminar/{{this.id}}">Eliminar</a>
				</div>
				<div class="float-right">
					<a href="/noticias/{{this.id}}" >Comentarios</a>	
				</div>
				
			</div>	
		</div>	
		<div class="row">
			<div class="col-12">
				<p>Fecha: {{this.dia}}</p>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<p>Votos: {{this.votos}}</p>
			</div>
		</div>

{{/each}}
		</div>
			
{{/each}}		
	</div>
	


</div>
